<!DOCTYPE html>
<html>
  <head>
    <%- include('../parts/head.ejs', { desc, picker, locale }) -%>
  </head>
  <body>
    <%- include('../parts/navbar.ejs', { req: req, options: options, locale: locale, picker }) -%>
    <div class="container">
      <div class="uk-section uk-section-muted uk-position-center divDiv"> 
        <div class="container">
            <p style="font-size: 50pt;"><%= picker.get(locale, 'WHOOPSE') %></p>
            <h1 style="font-size: 80pt;">404 NOT FOUND</h1>
            <p><%= picker.get(locale, '404') %></p>
            <button class="button" onclick="window.history.back()">
                <span uk-icon="arrow-left" class="ml-1"></span><%= picker.get(locale, 'GO_BACK') %>
            </button>
            <button class="button" onclick="window.location = '/'">
                <svg width="20" height="30" viewBox="0 0 20 25" xmlns="http://www.w3.org/2000/svg" data-svg="home" class="ml-1"><polygon points="18.65 11.35 10 2.71 1.35 11.35 0.65 10.65 10 1.29 19.35 10.65"></polygon><polygon points="15 4 18 4 18 7 17 7 17 5 15 5"></polygon><polygon points="3 11 4 11 4 18 7 18 7 12 12 12 12 18 16 18 16 11 17 11 17 19 11 19 11 13 8 13 8 19 3 19"></polygon></svg><%= picker.get(locale, 'BACK_TO_HOME') %>
            </button>
            <button class="button" onclick="window.location = '<%= options.web.support_server %>'">
                <span uk-icon="comments" class="ml-1"></span><%= picker.get(locale, 'SUPPORT') %>
            </button>
        </div> <!-- div.uk-container End -->
      </div> <!-- div.uk-section End --> 
    </div> <!-- div.divDisplay End--> 
    <%- include('../parts/footer.ejs', { fixed: true }); -%>
  </body>
</html>