<!DOCTYPE html>
<html>
  <head>
    <%- include('../parts/head.ejs', { desc, picker, locale }) -%>
  </head>
  <body>
    <style>
    .show {
      opacity: 1;
      transition: opacity 0.6s linear;
    }

    .hide {
      opacity: 0;
      transition: opacity 0.6s linear;
    }

    .divDiv {
        width: 100%
    }
    </style>
    <div uk-spinner="ratio: 3" class="uk-position-center" id="loadSpinner"></div>
    <div style="display:none" id="divDisplay" class="hide content"> 
    <%- include('../parts/navbar.ejs', { req: req, options: options, locale: locale, picker }) -%>
      <div class="uk-section uk-section-muted uk-position-center divDiv"> 
        <div class="uk-container">
            <p style="font-size: 50pt;"><%= picker.get(locale, 'WHOOPSE') %></p>
            <h1 style="font-size: 80pt;">500 Internal Server Error</h1>
            <p><%= picker.get(locale, '500') %></p>
            <button class="uk-button uk-button-default" onclick="window.history.back()">
                <span uk-icon="arrow-left" class="uk-margin-small-right"></span><%= picker.get(locale, 'GO_BACK') %>
            </button>
            <button class="uk-button uk-button-default" onclick="window.location = '/'">
                <svg width="20" height="30" viewBox="0 0 20 25" xmlns="http://www.w3.org/2000/svg" data-svg="home" class="uk-margin-small-right"><polygon points="18.65 11.35 10 2.71 1.35 11.35 0.65 10.65 10 1.29 19.35 10.65"></polygon><polygon points="15 4 18 4 18 7 17 7 17 5 15 5"></polygon><polygon points="3 11 4 11 4 18 7 18 7 12 12 12 12 18 16 18 16 11 17 11 17 19 11 19 11 13 8 13 8 19 3 19"></polygon></svg><%= picker.get(locale, 'BACK_TO_HOME') %>
            </button>
            <button class="uk-button uk-button-default" onclick="window.location = '<%= options.web.support_server %>'">
                <span uk-icon="comments" class="uk-margin-small-right"></span><%= picker.get(locale, 'SUPPORT') %>
            </button>
        </div> <!-- div.uk-container End -->
      </div> <!-- div.uk-section End --> 
        <%- include('../parts/footer.ejs'); -%>
    </div> <!-- div.divDisplay End--> 
  </body>
</html>
